.bor{border:1px solid #ccc}
.bg-blue{background:#417eb7;}
.bg-gray{background-color:#eee;}
.header{background:#F7F7F7;background:-webkit-linear-gradient(#F7F7F7,#E6E6E6);background:-moz-linear-gradient(#F7F7F7,#E6E6E6);background:linear-gradient(#F7F7F7,#E6E6E6);padding-top:10px;border-bottom:2px solid #324252;box-shadow:0 1px #fff;padding-right:20px;}
.userName{padding:0 20px;color:#000;text-shadow:0 1px #fff;margin-left:10px;display:inline-block;line-height: 35px;border-radius:5px 5px 0 0;border-bottom:none;}
.userName span{
	padding-left:5px;
	display:inline-block;
}
.userName span:first-child{position:relative;padding-right:10px;}
.userName span:first-child:after{
	content:'';
	position:absolute;
	right:0;
	top:50%;
	transform:translate(-50%,-50%);
	width:1px;
	height:16px;
	background:#293949;
}
.headerRight{
	float:right;
	position:relative;
}
/*通用侧边栏*/
.list-sideBar{width:265px;background:#293949;box-shadow:1px 1px 2px #4E8DC8;position:absolute;top:0;left:0;}
.list-ul li{height: 50px;line-height: 50px;padding-left: 36px;font-size:16px;border:1px solid #324252;}
.list-ul li a{color:#F0F0F0;}
.list-ul li span{border-top:2px dotted #F0F0F0;border-right:2px dotted #F0F0F0;width: 8px;height: 8px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);display:inline-block;margin-right: 10px;vertical-align:middle;}
.list-ul li:hover,.list-ul li.active{background:#2e86cb;}
.list-con{margin-left:290px;}
.list-con .title{height: 40px;line-height: 40px;font-size: 16px;font-weight:bold;}
.list-con header,.add-user{padding:10px;font-weight:bold;}
.list-con input{height: 24px;line-height: 24px;margin-left: 10px;}
.list-con input[type="text"]{border-top:1px solid #BEBEBE;border-left:1px solid #BEBEBE;border-right:1px solid #E1E1E1;border-bottom:1px solid #E1E1E1;background:#fff;}
.list-con input[type="button"]{border:1px solid #BEBEBE;padding:0 18px;background-image:linear-gradient(#fff,#EBECEC);}
/*添加到组*/
.add-user{width: 500px;margin:50px auto 0;}
.add-list{margin-bottom: 10px;}
.add-list label{width:120px;text-align:right;float:left;line-height: 22px;}
.add-list .add-right{float:left;}
.add-list .add-right.add-adm{border:1px solid #ccc;background:#fff;}
.add-list p{margin-bottom: 10px;}
.add-list p label{width:auto;margin-left:5px;line-height: 22px;}
.add-list p input{float:left;}
.op{padding-left: 125px;}
.nav-tag-btn a,.op a{width: 50px;color:#fff;margin-right: 10px;display:inline-block;text-align:center;-webkit-transition:all 0.8s ease;-moz-transition:all 0.8s ease;-o-transition:all 0.8s ease;}
.op a{height: 24px;line-height: 24px;}
.add{background-color:#5cb85c;}
.add:hover{background-color:#47a447}
.del{background-color:#5bc0de;}
.del:hover{background-color:#39b3d7;}
.login-form{
	position:relative;
}
.common-pop{
	position:fixed;
	top:50%;
	left:50%;
	width:300px;
	padding:20px;
	transform:translate(-50%,-50%);
	background:#fff;
	border-radius:5px;
	font-size:18px;
	box-shadow: 0 0 5px #000;
	text-align:center;
	display:none;
}
.browser-support{padding-top:20px;font-weight:bold;font-size:14px;text-align:center;color:#f00;}